body {
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */
.header {
 background-color: #bfe6ea;
 text-align: center;
 padding-top: 20px;
}
.header h1 {
 margin: 0;
 font-size: 28px;
}
.header p {
 margin: 5px;
}
.header-box {
 display: flex;
 align-items: center;
 justify-content: center;
}
.logo {
 width:100px;
 margin-right: 500px;
}
.header-text h1 {
 margin: 0;
 font-size: 26px;
}
.header-text p {
 margin: 0;
 font-size: 14px;
}
/* MENU */
.menu {
 background-color: #f5f5f5;
 text-align: center;
 padding-top: 20px;
}
.menu h3 {
 margin-bottom: 20px;
}
.menu a {
 display: block;
 background-color: #d90429;
 color: white;
 padding: 10px;
 margin: 5px 20px;
 text-decoration: none;
 border-radius: 3px;
}
.menu a:hover {
 background-color: #a4031f;
}
/* CONTENT */
.content {
 padding: 30px;
}
.content h2 {
 text-align: center;
}
table {
 margin: auto;
}
input, textarea {
 width: 250px;
 padding: 5px;
}
textarea {
 height: 80px;
}
button {
 background-color: #4CAF50;
 color: white;
 border: none;
 padding: 8px 20px;
 cursor: pointer;
}
/* FOOTER */
.footer {
 background-color: #bfe6ea;
 text-align: center;
 padding-top: 15px;
 font-size: 14px;
}